<div dir="rtl">
שלום.
<br><br>

    מצורפים העדכונים שלך מאתרי <a href="http://hasadna.org.il" target="_blank">הסדנא לידע ציבורי:</a>
    המייל הזה כולל את כל העדכונים שאספנו עבורך מאז העדכון הקודם, ב-{{ last_update_date }}.

<br><br>
    רוצים להוסיף או להסיר מקורות לעדכונים? <a href="#" target="_blank"> לחצו כאן</a>
<br>
{% for feed in feeds %}<br>
    <b>{{ feed[0] }}</b> : {{ feed[1] }}
    <br>
    <a href="{{ feed[2] }}" target='_blank' }}>למידע הפתוח</a>
    <br>
    <br>
{% endfor %}

<hr>
רוצים להוסיף או להסיר מקורות לעדכונים? <a href="#" target="_blank"> לחצו כאן</a>

</div>