<!DOCTYPE html>
<html>
    <head>
        <title> הציפור הקטנה - עדכונים ולחשושים על מידע ציבורי(שירות ניסיוני)</title>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel=stylesheet type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='main.css') }}" rel=stylesheet type=text/css>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
     <meta charset="UTF-8">
        <script src=" {{url_for('static', filename='jquery-2.2.4.min.js') }}"></script>

    </head>

<body dir="rtl">
    <div class="container">
    <h3>
        <img src="{{ url_for('notifier.static', filename='hasadna-logo.jpg') }}" height="40px"/>
    לחשושים ועדכונים ממקורות המידע הציבורי הפתוח
        <img src="{{ url_for('notifier.static', filename='notifier.png') }}" height="40px"/>
    </h3>
        <h4>*שירות ניסיוני, בתקופת הרצה</h4>
         {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% if error %}
            <div class="error"><strong>בעיה:</strong> {{ error }}</div>
        {% endif %}

        <br>

        {% block content %}
        {% endblock %}

    </div>
      <script src=" {{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>