    <div>
        <h2>הוסיפו כתובת הזנה חדשה:</h2>
            <form method = "POST" action="{{ url_for('notifier.new_feed') }}">
            {{ form.csrf_token }}

            <p>
                {{ form.url.label }}:
                {{ form.url(placeholder = "כתובת.לדוגמה.com", value=feed_url) }}
                    {% if form.url.errors %}
                    <span class="error">
                        {% for error in form.url.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
             </p>


            <p>
                {{ form.name.label }}:
                {{ form.name(placeholder = "שם להזנה החדשה", value=feed_title) }}
                    {% if form.name.errors %}
                    <span class="error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
            </p>

            <button class="brn brn-sm brn-success" type="submit">הוספת מקור</button>
            </form>
        </div>
