{% extends "_base.html" %}
{% block content %}

<h1>המזכיר</h1>
<a href = "/logout"> התנתקות</a>
<div class="add-feed-source">
    <h3>הסיפו כתובת הזנה חדשה:</h3>
        <form method = "POST" action="/addfeed/">
        {{ form.csrf_token }}

        <p>
            {{ form.url(placeholder = "כתובת.לדוגמה.com") }}
                {% if form.url.errors %}
                <span class="error">
                    {% for error in form.url.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
        </p>


        <p>
            {{ form.name(placeholder = "שם להזנה החדשה") }}
                {% if form.name.errors %}
                <span class="error">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
        </p>

        <button class="brn brn-sm brn-success" type="submit">הוספת מקור</button>
        </form>


    <div class="entries">
        <br>
        <br>
        <h2>הזנות קיימות:</h2>
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="200px"><strong>כתובת ההזנה</strong></th>
                        <th width="200px"><strong>שם ההזנה</strong></th>
                        <th width="100px"><strong>פעולות</strong></th>
                    </tr>
                </thead>
            {% for feed in feeds %}
                <tr>
                    <td width = "200px"> {{feed.name }}</td>
                    <td width = "200px"> <a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a></td>
                    <td>
                        <a href=" {{ url_for('notifier.delete_feed', feed_id = feed.id) }}">מחיקה</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>

{% endblock %}
