    <div>
        <h3> עדכונים אישיים </h3>
       {% for entry in parsed_feeds %}
        <p>
            <b>{{ entry[0] }}:</b><i> {{ entry[1] }}</i>.<br>
                {{ entry[2] }}<br>
                <a href="{{ entry[3] }}" target=_blank> למידע הפתוח</a>, שפורסם ב-{{ entry[4] }}.
                <br>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry[3] }}:{{entry[2]}},{{entry[1]}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/home?url={{ entry[3] }}:{{entry[2]}},{{entry[1]}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/share?url={{ entry[3] }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry[3] }}&title={{entry[1]}}:{{entry[2]}}&summary=&source=" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="mailto:?&subject=מידע ציבורי מעניין&body={{ entry[3] }}" target="_blank"><i class="fa fa-email" aria-hidden="true"></i></a>
            <br>

        </p>
    {% endfor %}
    </div>