        <div class="container">
            <h2>הזנות קיימות:</h2>
            <br>
            <div class="datagrid" id="feed_list">
                <table>
                    <thead>
                        <tr>
                            <th width="40%"><strong>שם ההזנה</strong></th>
                            <th width="20%"><strong>קישור למקור ההזנה</strong></th>
                            <th width="20%">פעולות</th>
                        </tr>
                    </thead>
                {% for feed in feeds %}
                    <tr>
                        <td width="40%"> {{feed.name }}</td>
                        <td width="40%"> <a href="{{ feed.url }}" target="_blank">קישור</a></td>
                        <td width="20%">
                         <a href=" {{ url_for('notifier.delete_feed', feed_id = feed.id) }}">מחיקה</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
