{% extends "_base.html" %}
{% block content %}

<h1> ברוכים הבאים למזכיר</h1>
<h3> אנא הירשמו כדי כדי להגיע לרשימת מקורות המידע שלכם.</h3>
    <form method = "POST" action="/register">
        {{ form.csrf_token }}

            {{ form.email(placeholder = 'כתובת דוא"ל') }}
            {% if form.email.errors %}
                <span class="error">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}

        <p>
            {{ form.password(placeholder="סיסמה") }}
            {% if form.password.errors %}
                <span class="error">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
        </p>

        <p>
            {{ form.confirm(placeholder="ושוב, אותה הסיסמה") }}
            {% if form.confirm.errors %}
             <span class="error">
                 {% for error in form.confirm.errors %}
                    {{ error }}
                 {% endfor %}
             </span>
            {% endif %}
        </p>

        <button class="brn brn-sm brn-success" type="submit">Register</button>
        <br>
        <p><em>כבר רשומים?</em> הקליקו <a href="/">כאן</a> כדי להתחבר.</p>
    </form>


{% endblock %}