{% extends "_base.html" %}
{% block content %}
<div id="register_form">
<h3> הירשמו וצרו לכם רשימה משלכם לעדכונים.</h3>
    <form method = "POST" action="/register">
        {{ form.csrf_token }}
            {{ form.email(placeholder = 'כתובת דוא"ל') }}
            {% if form.email.errors %}
                <span class="error">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
                {% endif %}

        <p>
            {{ form.password(placeholder="סיסמה") }}
            {% if form.password.errors %}
                <span class="error">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
        </p>

        <p>
            {{ form.confirm(placeholder="ושוב, אותה הסיסמה") }}
            {% if form.confirm.errors %}
             <span class="error">
                 {% for error in form.confirm.errors %}
                    {{ error }}
                 {% endfor %}
             </span>
            {% endif %}
        </p>
        <br><br>
        <button class="btn btn-sm btn-success" type="submit">הרשמה</button>
        <br><br>
        <p><em>כבר רשומים?</em> הקליקו <a href="/">כאן</a> כדי להתחבר.</p>
    </form>
</div>

{% endblock %}