        <div>
            <h2>הזנות קיימות:</h2>
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th width="300"><strong>שם ההזנה</strong></th>
                             <th><strong>כתובת ההזנה</strong></th>
                            <th><strong>שיתוף</strong></th>
                            <th>פעולות</th>
                        </tr>
                    </thead>
                {% for feed in feeds %}
                    <tr>
                        <td> {{feed.name }}</td>
                        <td> <a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a></td>
                        <td>
                         <a href=" {{ url_for('notifier.delete_feed', feed_id = feed.id) }}">מחיקה</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
